.image-wapper {
  width: 600px;
  height: 600px;
  position: fixed;
  bottom: 200px;
  left: calc(50% - 300px);
  transform-origin: center 2900px;
  display: flex;
  flex-direction: column;
}

.image-wapper img {
  max-width: 100%;
  margin: auto auto 0;
}

@keyframes img_0 {
  from {
    transform: rotate(-0.05turn);
  }

  to {
    transform: rotate(-0.1turn);
  }
}

@keyframes img_1 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-0.05turn);
  }
}

@keyframes img_2 {
  from {
    transform: rotate(0.05turn);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes img_3 {
  from {
    transform: rotate(0.1turn);
  }

  to {
    transform: rotate(0.05turn);
  }
}

@keyframes img_4 {
  from {
    transform: rotate(0.15turn);
  }

  to {
    transform: rotate(0.1turn);
  }
}
